---
interface Props {
  slug: string;
  firstName: string;
  lastName: string;
  photo: string;
  photoAlt: string;
  teaserExpertise: string[];
}

const { slug, firstName, lastName, photo, photoAlt, teaserExpertise } = Astro.props;
---

<a href={`/${slug}/`} class="card cardp">

    <div class="card-body">

            <h5>{firstName} {lastName}</h5>
            <center>
                <img class="rounded smiles" src={photo} alt={photoAlt}> </center>

        <ul>
        {teaserExpertise.map((item) => (
        <li>{item}</li>
        ))}
</ul>
    </div>
</a>
